@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #c7a17a;
    --color-gray: #27292b;
    --color-white: #fff;
    --text-title: 'Bebas Neue';
    --text-content: 'Roboto', sans-serif;
    --text-gold: 'Satisfy';
}
img {
    display: block;
    
    
}