.make-coffe-like-a-pro-title{
    font-family: 'Satisfy', cursive;
}
.make-coffe-like-a-pro-title2 {
    font-family: 'Bebas Neue', cursive;
}

.coffee-like-a-pro-course-subtitle {
    font-family: 'Bebas Neue', cursive;
}

.course-description{
    font-family: 'roboto', serif;
}

.img__svg_home {
    width: 20px;
}
