.header {
   
    padding: 30px 15px 30px 15px;
    background:  linear-gradient( rgba(0,0,0,0.85),rgba(0,0,0,0.85) ), url(../img/background-header.png);
    background-size: cover;
   /* min-height: 938px;*/
    padding-left: 213px;     
    padding-right: 213px;
    opacity: 0.85;
    border: 10px solid red;
        
}

.header__up {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 30px;
    margin: 0;
    padding: 30px 15px 30px 15px;
    
}

.header__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.header__logo {
    margin: 0 15px 0 15px;
}

.img__logo {
    width: 188px;
}

.header__list__social {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.header__container {
    display: grid;
    justify-items: center; 
    align-items: center;
    padding: 270px 0 255px 0;
}

.nav__link {
    text-decoration: none;
    color: var(--light-text-color);
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.nav__link:hover {
    color: var(--light-text-color);
    text-decoration: underline;
    transition: 0.5ms;
}

h1 {
    color: var(--light-text-color);
    font-family: 'Bebas neue';
    font-size: 115px;
    font-weight: 400;
}

.under__header {
    font-family: 'roboto',serif;
    font-size: 17px;
    color: var(--light-text-color);
}

.svg-icon {
    fill: var(--text-color);
    margin-left: 7.5px;
    margin-right: 7.5px;
}

.header__list, .header__list__social {
    list-style-type: none;
}

.under__header-coffee-lab {
    color: var(--text-color);
    font-family: 'Satisfy';
    font-size: 24px;
}

.under__header-hr {
    background: var(--text-color);
    height: 3px;
    width: 47px;
    border: none;
    margin-bottom: 15px;
}

.under__header-coffee-lab {
    color: #c7a17a;
    font-family: 'Satisfy';
    font-size: 24px;
}

@media screen and (max-width: 992px) {
    .header__up, .header__list, .header__list__social  {
        justify-content: baseline;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }

    .header__container {
        justify-self: center;
        text-align: center;
        padding: 10px;
        font-size: 40%;
    }
         
}

.img__checked__menu {
    width: 25px;
}

@media screen and (max-width: 768px) {
    .header__up, .header__list, .header__list__social  {
        display: grid;
        grid-template-columns: 1fr;
        
    }

    .header__container {
        justify-self: center;
        padding: 10px;
        text-align: center;
        font-size: 40%;
    }
         
}
