.ab__our__courses {
    display: flex;
    background: linear-gradient(rgba(39, 41, 43, 0.8), rgba(39, 41, 43, 0.8)), url(../img/img_about_section.png);
    background-size: 100% auto;
    width: 100%;
    min-width: 320px;
    color: var(--color-white);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: var(--text-content);
    font-size: 17px;
    line-height: 1.5;
    position: relative;
    padding: 140px 20px 140px 20px;
}

.about__our__inner {
    flex-basis: 66%;
    padding: 20px 20px 20px 40px;
}

.info__about__course {
    flex-basis: 33%;
    color: var(--color-white);
    padding: 40px 20px 20px 5%;
}

.about__course__time {
    font-size: 19px;
}

.about__btn {
    display: flex;
    padding: 30px 0;
    margin: 0;
}

.btn__select__course {
    background-color: var(--text-color);
    color: var(--color-white);
    text-decoration: none;
    padding: 10px;
    margin: 10px 10px 10px 0;
    border: 2px solid var(--text-color);
}

.btn__select__course:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}

.btn__contact {
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border: 2px solid var(--text-color);
}

.btn__contact:hover {
    background-color: var(--text-color);
    color: var(--color-white);
}

.accordion {
    --bs-accordion-color: var(--color-white);
    --bs-accordion-bg: var(--color-none);
    --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    --bs-accordion-border-color: var(--color-text-gray-light);
    --bs-accordion-inner-border-radius: calc(0.375rem - 1px);
    --bs-accordion-btn-padding-x: 0;
    --bs-accordion-btn-color: var(--color-white);
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var%28--bs-body-color%29'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
    --bs-accordion-btn-icon-transform: rotateZ(180deg);
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
    --bs-accordion-btn-focus-border-color: var(--color-none);
    --bs-accordion-btn-focus-box-shadow: var(--color-none);
    --bs-accordion-body-padding-x: 0;
    --bs-accordion-active-color: var(--color-white);
    --bs-accordion-active-bg: var(--color-none);
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--color-white);
    transform: var(--bs-accordion-btn-icon-transform);
}

.accordion-button {
    font-family: var(--text-title);
    font-size: 28px;
}

.accordion__about__item {
    position: relative;
}

.accordion__item__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.accordion__triger {
    display: block;
    font-family: var(--text-title);
    font-size: 26px;
    padding: 14px 0 14px 0;
}

.accordion__about__content {
    display: none;
    padding: 14px 0 14px 0;
}

.accordion__item__input:checked~.accordion__about__content {
    display: block;
}

@media (max-width: 992px) {
    .ab__our__courses {
        padding: 80px 0;
    }

    .about__title {
        font-size: 38px;
    }

    .about__our__courses {
        padding: 140px 0 140px 0;
    }

    .about__our__inner {
        flex-basis: 60%;
        padding: 20px 0 20px 20px;
    }

    .info__about__course {
        flex-basis: 40%;
        padding: 40px 20px 20px 5%;
    }

    .about__btn {
        padding: 20px 10px 20px 0;
        margin: 10px 10px 10px 0;
    }


    .btn__select__course {
        padding: 10px;
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .ab__our__courses {
        display: grid;
        grid-template-columns: 1fr;
        background-size: auto;
        margin-left: 10px;
    }

    .about__our__inner {
        padding: 20px;
    }

    .info__about__course {
        padding: 20px;
        margin: 0;
    }

    .accordion-button {
        font-size: 24px;
    }
}

@media (max-width: 340px) {
    .about__our__courses {
        background-size: auto;
        font-size: 12px;
    }

    .about__course__time {
        font-size: 14px;
    }

    .about__btn {
        font-size: 15px;
        flex-direction: column;
    }

    .btn__ab {
        min-height: 30px;
    }

    .about__course__time {
        font-size: 14px;
    }
}