.master-coffe-making {
    /* margin: 0px -15px 0px -15px; */
    display: flex;
    flex-direction: column;
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
    padding: 90px 24px 90px 24px;
    align-items: left;
}

.image__making {
    /* width: 366px;
    min-height: 347px; */
    /* font-size: 100%; */
    width: 100%;
    height: 100%;
    /* object-fit: contain;
    object-position: 50% 50%; */
    
}

.columns_making__coffee {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 100%;
}

.column__making-coffee {
    margin-top: 50px;

}

.fonts_logo_making {
    font-family: var(--text-gold);
    color: var(--text-color);
    font-size: 26px;
    line-height: 1;
    margin-block-start: 1em;
    margin-block-end: 1em;
    letter-spacing: 0;
}

.h2_master_coffee_making {
    font-size: 38px;
    color: var(--color-gray);
    line-height: 1.1;
    font-family: var(--text-title);
    font-weight: 400;
    letter-spacing: .02em;
    margin-top: 20px;
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    justify-content: flex-start;
}

.p_making__font {
    font-size: 19px;
    line-height: 1.5;
    font-family: var(--text-content);
    font-weight: 400;
    color: var(--text-color-gr);
    margin-top: 25px;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    text-transform: none;


}

.p_making_coffee_fonts {
    font-size: 17px;
    line-height: 1.5;
    font-family: var(--text-content);
    font-weight: 400;
    color: var(--color-text-gray-light);
    margin-top: 25px;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    text-transform: none;
}

.column_making-learn-more {
    margin-top: 50px;

}

.h3_master_coffee_making {
    font-size: 28px;
    line-height: 1.2;
    font-family: var(--text-title);
    font-weight: 400;
    letter-spacing: .02em;
    color: var(--color-gray);
    text-decoration: none;
    font-style: normal;
    text-transform: none;
}

.hr_logo_making {
    min-height: 3px;
    width: 10%;
    background-color: var(--text-color);
    margin-top: 20px;
}

.p_making_coffee_fonts_h3 {
    font-size: 17px;
    line-height: 1.5;
    font-family: var(--text-content);
    font-weight: 400;
    color: var(--color-text-gray-light);
    margin-top: 25px;
}

/* .fonts_logo_making {
    --bs-body-font-family: var(--text-gold);
} */

.btn_making_learn_more {
    font-weight: 400;
    color: #fff;
    background-color: var(--text-color);
    font-family: var(--text-content);
    cursor: pointer;
    padding: 18px 30px;
    margin-top: 10px;
    text-decoration: none;
}

.btn_making_learn_more[type="submit"]:hover {
    text-decoration: none;
    color: var(--color-white);
    background: var(--background-dark);
}



@media (min-width: 780px) {
    .container_making-coffee {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex: 1;
        margin: 0px 15px 0px 15px;
        font-size: 100%;
        box-sizing: border-box;
        padding: 90px 24px 90px 24px;
        padding: 0px 15px 0px 15px;
        


    }

    .columns_making__coffee {
        display: flex;
        flex-direction: column;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex: 1;
        
    }

    .image__making {
        max-width: 470px;
        max-height: 445px;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: 50% 50%;
    }

    .column__making-coffee {
        padding-left: 15px;
        padding-right: 15px;
        flex-basis: 100%;
        max-width: 100%;
        margin-top: 0px;
    }

    .h2_master_coffee_making {
        flex-basis: 25%;
        max-width: 25%;
        margin-top: 20px;
        margin-left: 15px;
        font-size: 58px;
        margin-top: 20px;
    }

    .fonts_logo_making {
        padding-left: 15px;
        padding-right: 15px;
    }

    .p_making__font {
        padding-left: 15px;
        padding-right: 15px;
    }

    .p_making_coffee_fonts {
        padding-left: 15px;
        padding-right: 15px;
    }

    .column_making-learn-more {
        padding-left: 15px;
        padding-right: 15px;
        flex-basis: 100%;
        max-width: 100%;
        margin-top: 0%;
    }

    .h3_master_coffee_making {
        font-size: 34px;

    }
}