.header {
    margin: 0 213px 0 213px;
    padding: 30px 15px 30px 15px;
    background-color: beige;
    vertical-align: baseline;
}

.header__up {
    display: flex;
    justify-content: space-between;
    
}

.header__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.header__list__social {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.header__container {
    text-align: center;
}

.nav__link {
    text-decoration: none;
}

.header__list, .header__list__social {
    list-style-type: none;
}

.under__header-coffee-lab {
    color: #c7a17a;
    font-family: 'Satisfy';
    font-size: 24px;
}
