.team {
    padding-top: 90px;
    padding-bottom: 90px;

}

.team__column {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
}

.fonts_logo_team {
    font-family: var(--text-gold);
    color: var(--text-color);
    font-size: 26px;
    line-height: 1;
    letter-spacing: 0;
}

.h2_team {
    font-family: var(--text-title);
    font-weight: 400;
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    letter-spacing: .02em;
    font-size: 38px;
    color: var(--color-gray);
    line-height: 1.1;
}

.hr_logo_team {
    min-height: 3px;
    width: 19px;
    background-color: var(--text-color);
}

.p_font_team {
    font-size: 19px;
    line-height: 1.5;
    font-family: var(--text-content);
    font-weight: 500;
    color: var(--text-color-gr);
}

.card_team {
    border: 2px solid #f2f0ec;
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.img_team {
    /* width: 350px;
    min-height: 235; */
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    object-position: 5.828% 72.806%;

}

#img_team_anna {
    object-fit: cover;
    object-position: 50.641% 43.445%;
    
}

.team__info {
    padding: 39px 43px 39px 43px;
}

.font__info_team {
    font-size: 14px;
    line-height: 1.67;
    letter-spacing: 0;
    color: var(--text-color-gr);
}

.h2_team_name {
    font-size: 28px;
    line-height: 1.2;
    font-family: var(--text-title);
    font-weight: 400;
    color: var(--text-color);
    letter-spacing: .02em;
    margin-top: 20px;
}

.hr_team {
    min-height: 1px;
    width: 276px;
}

.team_fonts_p {
    font-size: 17px;
    line-height: 1.5;
    font-family: var(--text-content);
    font-weight: 400;
    color: var(--text-color-gray-text);

}

.team__icons {
    margin-top: 25px;
}

.team__icon_font {
    color: var(--text-color);
    font-size: 30px;
    margin-left: 7.5px;
    margin-right: 7.5px;

}

@media (min-width:768px) {
    .hr_logo_team {
        min-height: 3px;
        width: 55px;
        background-color: var(--text-color);
    }

    .team__info {
        padding: 46px 52px 46px 52px;
    }

    .font__info_team {
        font-size: 15px;
        line-height: 1.67;
        letter-spacing: 0;
    }

    .h2_team_name {
        font-size: 34px;
        line-height: 1.2;
        font-family: var(--text-title);
        font-weight: 400;
        color: var(--text-color);
        letter-spacing: .02em;
        margin-top: 20px;
    }

    .hr_team {
        min-height: 1px;
        width: 100%;
    }

    .img_team {
        width: 50%;
    }

    .card_team {
        display: flex;
        flex-direction: row;
        justify-content: left;
        text-align: left;
    }

    #card_team_anna {
        display: flex;
        flex-direction: row-reverse;
    }


}


@media (min-width:850px) {
    .team__info {
        padding: 46px 52px 46px 52px;
    }
}

@media (min-width: 900px) {
    .team {
        padding-left: 30px;
        padding-right: 30px;
    }

    .h2_team {
        font-size: 58px;
        text-transform: none;
        text-decoration: none;
        font-style: normal;
    }
}

@media (min-width:1085px) {
    .team__info {
        padding: 60px 70px 60px 70px;
    }

}