.master-coffe-making {
    display: flex;
    flex-direction: column;
    font-size: 100%;
    box-sizing: border-box;
    padding: 90px 24px 90px 24px;
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
    /* max-width: 1200px; */
    
    
}

.container_making-coffee {
    padding-left: 10px;
    padding-right: 10px;
}

.image__making {
    object-fit: contain;
    object-position: 50% 50%;
    padding-left: 15px;
    padding-right: 15px;

}

.columns_making__coffee {
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.fonts_logo_making {
    font-family: var(--text-gold);
    color: var(--text-color);
    font-size: 26px;
    line-height: 1;
    margin-block-start: 1em;
    margin-block-end: 1em;
    letter-spacing: 0;
}

.h2_master_coffee_making {
    font-size: 38px;
    color: var(--color-gray);
    line-height: 1.1;
    font-family: var(--text-title);
    font-weight: 400;
    letter-spacing: .02em;
    margin-top: 20px;
    text-transform: none;
    text-decoration: none;
    font-style: normal;

}

.p_making__font {
    font-size: 19px;
    line-height: 1.5;
    font-family: var(--text-content);
    font-weight: 500;
    color: var(--text-color-gr);
    margin-top: 25px;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    text-transform: none;


}

.p_making_coffee_fonts {
    font-size: 17px;
    line-height: 1.5;
    font-family: var(--text-content);
    font-weight: 400;
    color: var(--color-text-gray-light);
    margin-top: 25px;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    text-transform: none;
}

.column_making-learn-more {
    margin-top: 50px;

}

.h3_master_coffee_making {
    font-size: 28px;
    line-height: 1.2;
    font-family: var(--text-title);
    font-weight: 400;
    letter-spacing: .02em;
    color: var(--color-gray);
    text-decoration: none;
    font-style: normal;
    text-transform: none;
}



.p_making_coffee_fonts_h3 {
    font-size: 17px;
    line-height: 1.5;
    font-family: var(--text-content);
    font-weight: 400;
    color: var(--color-text-gray-light);
    margin-top: 25px;
}

.btn_making_learn_more {
    font-weight: 400;
    color: #fff;
    background-color: var(--text-color);
    font-family: var(--text-content);
    cursor: pointer;
    padding: 15px 30px;
    margin-top: 10px;
    text-decoration: none;
}

.btn_making_learn_more[type="submit"]:hover {
    text-decoration: none;
    color: var(--color-white);
    background: var(--background-dark);

}

@media (min-width: 780px) {
    .container_making-coffee {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex: 1;
        /* margin: auto; */
        object-fit: contain;
        object-position: 50% 50%;
        
    }
    /* .image__making {
        max-width: 470px;
        max-height: 445px;
        display: flex;
    } */
    .img_making {
        /* display: flex; */
        /* justify-content: flex-start; */
        max-width: 470px;
        max-height: 445px;
        object-fit: contain;
        object-position: 50% 50%;
        
       
    }
    

    .columns_making__coffee {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex: 1;
        
        
       
    }

    .column__making-coffee {
        padding-left: 15px;
        padding-right: 15px;
        /* flex-basis: auto; */
       
    }

    .column_making-learn-more {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 0%;
        box-sizing: border-box;
        width: 100%;


    }



    .h2_master_coffee_making {
        flex-basis: 25%;
        max-width: 25%;
        margin-top: 20px;



    }

}

@media (min-width: 920px) {
    .h3_master_coffee_making {
        font-size: 34px;

    }

    .h2_master_coffee_making {
        font-size: 58px;
    }


}