.our__pricing__plans {
    margin: 0 217.5px 0 217/5px;
    padding: 0;
    border: 40px 0 40px 0;
}

.our__pricing__plans__header {
    color: var(--light-text-color);
    font-size: 58px;
    font-family: 'Bebas neue';
}

.about__course__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: auto;
    margin: 0 0 20px 0;
    color: var(--light-text-color);
        
}

.about__course {
    background-color: var(--cards-color);
    margin: 15px;
    padding: 35px 30px 35px 30px;
    font-family: 'roboto', sans-serif;
    font-size: 17px;
    font-stretch: 100%;
    font-weight: 400;
    overflow-wrap: break-word;
    
}

.about__pricing {
    font-size: 19px;
    font-family: 'roboto',serif;
    color: var(--light-text-color);
    word-wrap: break-word;
}

.our__pricing__plans__block {
    display: grid;
    justify-items: center; 
    align-items: center;

}

.our__pricing__plans {
    background-color: var(--background-dark);
    margin-top: 30px;
    margin-bottom: 30px;
}

.frame__under__pricing {
    position: relative;
    background-image: url(../img/background-under-prising.svg);
    background-color: black;
}

.pricing {
    font-family: satisfy;
    font-size: 24px;
}

.pricing, .about__course__price {
    color: var(--text-color);
    
}

.about__course__price {
    padding-bottom: 0;
    text-align: left;
    font-family: 'roboto', serif;
    font-size: 18px;
    font-weight: 500;
}

.list__about__course {
    list-style: none;
    height: 360;
    padding: 15px 30px 35px 30px;
    font-family: 'roboto', serif;
    font-size: 17px;
    font-weight: 400;
}

.button__pricing {
   color: var(--light-text-color);
   background-color: var(--text-color);
   height: 15x;
    width: auto;
    border: none;
    padding: 15px 26px 15px 26px;

}

.img-above-pricing {
   /*background-color: var(--background-dark);*/
    /*color: var(--background-dark);*/
    fill: var(--background-dark);
}

.img-under-pricing {
    background-color: var(--light-text-color);
}

.img__checked__menu {
    display: inline;
}

.about__course__header {
    padding-bottom: 60px;
    padding-top: 30px;
    text-align: center;
    height: 75px;
    font-family: 'roboto', serif;
}

 .cards__list:not(:first-child) {
    padding-top: 15px;
}

.under__header-hr {
    color: var(--text-color);
    height: 3px;
    width: 47px;
    border: none;
    margin-bottom: 15px;
}

@media screen and (max-width: 992px) {
    .about__course__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: max-content;
        margin: 20px 0 20px 0; 
    }
    .our__pricing__plans {
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .about__course__container {
        display: grid;
        grid-template-columns: 1fr;
        width: max-content;
        margin: auto; 
        align-items: center;
    }
    .our__pricing__plans {
        padding: 0;
    }

    .about__pricing {
        width: fit-content;
    }

}
